{% extends "base.html" %}
{% block body %}
  <ul class="navbar">
    <li class="siteName navItem" onclick="scrollToTop()">
      Camera
    </li>
    <li class="navItem">
      <button onclick="visibleInvisible()">Photos</button>
    </li>
    <li class="navItem">
      <button onclick="visibleInvisible()">Videos</button>
    </li>
  </ul>
  <div id="photos">
  {% for thumbnail in thumbnails %}
    <div>
      <a href="{{ address }}{{ thumbnail | replace (".thumbnail","")}}">
        <img src="{{ address }}thumbnails/{{ thumbnail }}" alt="img">
      </a>
    </div>
  {% endfor %}
  </div>
  <div id="videos" class="invisible">
  {% for video in videos %}
    <video class="video" width="90%" controls>
      <source src="{{ address }}{{ video }}" type="video/mp4"></source>
    </video>
  {% endfor %}
  </div>
  <script>
    function visibleInvisible() {
      let photos = document.getElementById("photos");
      if (photos.classList.contains("invisible")) {
        photos.classList.remove("invisible");
      } else {
        photos.classList.add("invisible");
      };
      let videos = document.getElementById("videos");
      if (videos.classList.contains("invisible")) {
        videos.classList.remove("invisible");
      } else {
        videos.classList.add("invisible");
      };
    };
    function scrollToTop() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    };
  </script>
{% endblock %}
